<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongsui.mapper.UserMapper">
    <!--通过邮箱查用户-->
    <select id="findUserByEmail" resultType="com.yongsui.entity.User">
        select id,username,email,password,phone,avatar,qq,wechat,address,role_id,status,create_time,update_time from user where status != 0 and email = #{email}
    </select>

    <!--添加用户-->
    <insert id="addUser">
        insert into user (username,email,password,phone,avatar,qq,wechat,address,role_id) values (
        #{username},
        #{email},
        #{password},
        #{phone},
        #{avatar},
        #{qq},
        #{wechat},
        #{address},
        #{roleId}
        )
    </insert>


</mapper>
